@import "./base/_variables.css";
@import "./modules/_landing.css";
@import "./modules/_site-header.css";
@import "./modules/_primary-nav.css";
@import "./modules/_wrapper.css";
@import "./modules/_unitA.css";
@import "./modules/_unitB.css";
@import "./modules/_unitC.css";
@import "./modules/_contact-us.css";
@import "./modules/_scroll-up-button.css";

body {
    margin: 0 0 0 0;
}

.unitA, .unitB, .unitC, .contact-us {
    height: 100vh;
    width: 100%;
    text-align: center;
    line-height: 100vh;
}