.primary-nav {
    padding-top: 10px;
}

.primary-nav ul {
    margin: 0;
    padding: 0;
}

/* Clearfix */
.primary-nav ul::after {
    content: "";
    clear: both;
    display: table;
}

.primary-nav li {
    list-style: none;
    display: inline-block;
    padding-right: 7px;
}

.primary-nav li:last-child {
    padding-right: 0;
}

.primary-nav a {
    color: #FFF;
    font-weight: 300;
    text-decoration: none;
    display: block;
    padding: 5px 8px;
    font-size: .8rem;
    background-color: rgba(47, 85, 114, .8); /* This is the mainBlue color, but using isn't valid css. Need a plugin.*/
    border-radius: 2px;
}

/*
    Don't display the home link on smaller screens.
*/
.primary-nav .primary-nav__home {
    display: none;
}

/*
    atMedium.
*/
@media (min-width: 800px) {
    .primary-nav {
        padding-top: 0;
    }    
    .primary-nav--pull-right {
        float: right;
    }
    .primary-nav li {
        float: left;
        display: block;
        padding-right: 20px;
    }
    .primary-nav li:last-child {
        padding-right: 40px;
    }
    .primary-nav a {
        font-size: 1rem;
        padding: 12px 0;
        background-color: transparent;
    }
    .primary-nav .primary-nav__home {
        display: block;
    }
}