.scrollToTop{
    height:10px;
    padding:30px; 
    position:fixed;
    bottom: 40px;
    right:10px;
    display:none;
    background: url('../../images/icons/arrow-up.png') no-repeat 0px 20px;
}
.scrollToTop:hover{
    text-decoration:none;
}