.text {
    position: relative;
    top: 26vh;
    left: 50vw;
    width: 90%;
    transform: translate(-50%, -50%); 
    font-size: .9rem;
    color: var(--darkBlue);
}

.text__line1 {
    padding-bottom: 10px;
}

.text__line2 {
    padding-bottom: 10px;
}

.text__line3 {
    padding-bottom: 10px;
}

/*
    atMedium.
*/
@media (min-width: 800px) {

    .text {
        top: 18vh;
        font-size: 1.2rem;
    }

}