.landing {

    @mixin atSmall {
        border-bottom: 10px solid $mainBlue;
        position: relative;
    }

    &__image {
        display: none;
        opacity: .3;

        @mixin atSmall {
            display: block;
        }
    }
    
    /*
        Gulp and postCSS process this, replacing '&' with '.landing'.
    */
    &__text-content {
        padding-top: 88px;
        position: absolute;
        bottom: 0;
        top: 20%;
        transform: translateY(-50%);
        width: 100%;

        @mixin atMedium {
            padding-top: 0;
            top: 40%;
        }
    }
    
    &__title {

        /* 
            The mobile-first CSS pattern
            Baseline style for super tiny devices that we want all screens to receive. 
            From here we modify things for larger and larger devices (i.e. atSmall, 
            atMedium and atLarge sizes).
        */
        font-weight: 300;
        color: $mainBlue;
        margin: 39px 0 10px 0;
        font-size: 1.1rem;              /* Relative to the root (HTML) font size of your browser (commonly 16px). */         

        @mixin atSmall {
            font-size: 2rem;
            margin: 0 0 60px 0; 
            font-size: 2.4rem;          
        }

        
    }
    
    &__subtitle {
        font-weight: 300;
        color: $darkBlue;
        font-size: .8rem;
        margin-bottom: .5rem;

        @mixin atSmall {
            font-size: 1.1rem;
            margin-bottom: .9rem;
        } 
    } 
    
    &__description {
        color: darkmagenta;
        font-size: .9rem;
        font-weight: 300;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
        /*max-width: 80rem;*/
        margin: .9rem 0 0 0;

        @mixin atSmall {
            font-size: 1.1rem;
        }
    }
}

